<form action="/ideas/<%= idea_id %>" method="post">
    <!-- Use hidden input type as patch/update hack -->
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete Idea" class="btn btn-danger"/>
</form>