<h1>Edit Idea</h1>
<form action="/ideas/<%= @idea.id %>" method="post" enctype="multipart/form-data">
<div class="form-group">
    <input type="hidden" name="_method" value="put" />
    <label for="idea_name">Name:</label>
    <input id="idea_description" name="idea[name]" type="text" class="form-control" value="<%= @idea.name %>" />
    <label for="idea_description">Description:</label>
    <textarea id="idea_description" name="idea[description]" rows="5" class="form-control" ><%= @idea.description %></textarea>
</div>
    <input type="submit" value="Update" class="btn btn-primary"/>
</form>
<p>
    <a href="/">Back</a>
</p>