<h1>Ideas</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
  <% @ideas.each do |idea| %>
      <td><%= idea.name %></td>
      <td><%= idea.description %></td>
      <td><a href="/ideas/<%= idea.id %>/edit" class="btn btn-warning">Edit</a></td>
      <td><a href="/ideas/<%= idea.id %>" class="btn btn-secondary">Show</a></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>